@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("../fonts/SourceCodePro-Light.woff") format("woff"), url("../fonts/SourceCodePro-Light.woff2") format("woff2");
}

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/SourceCodePro-Regular.woff") format("woff"), url("../fonts/SourceCodePro-Regular.woff2") format("woff2");
}

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../fonts/SourceCodePro-SemiBold.woff") format("woff"), url("../fonts/SourceCodePro-SemiBold.woff2") format("woff2");
}
