@use "base/variables";

.pagination {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	margin: 40px 0;

	.pagination__btn {
		width: 50px;
		height: 50px;
		background-color: variables.$black;
		color: variables.$white;
		cursor: pointer;
		border: 1px solid variables.$white;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;

		&:hover {
			opacity: .7;
		}

		&_prev,
		&_next {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&:before {
				position: absolute;
				content: "";
				width: 30px;
				height: 30px;
				background-image: url("../icons/arrow.svg");
				background-repeat: no-repeat;
				background-position: center;
				transform: rotate(-90deg);
			}
		}

		&_next {
			transform: rotate(180deg);
		}
	}
}
