@use "base/variables";

.slider {
	position: relative;
	display: flex;
	flex-direction: column;

	&_catalog {
		color: variables.$black;
	}

	&__wrapper {
		position: relative;
		max-width: 500px;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	&__heart {
		cursor: pointer;
		position: absolute;
		top: 1rem;
		left: 1rem;
	}

	&__slides {
		display: flex;
		transition: transform 0.5s ease;

		&_catalog {
			margin: 0;
		}
	}

	&__slide {
		min-width: 100%;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__like {
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		left: 20px;
		cursor: pointer;
		transition: .3s;

		&_active{
			fill: variables.$scarlet;
		}
	}

	&__btns {
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-top: 20px;

		&_catalog {
			display: flex;
			gap: 0;
			position: absolute;
			bottom: 0;
			align-items: center;
			justify-content: center;
			width: 100%;
		}
	}

	&__button {
		cursor: pointer;

		&_catalog {
			padding: 1rem;

			button {
				width: 5rem;
				height: 2px;
				background-color: variables.$black;
				border-radius: 5px;
			}
		}
	}

	&__reviews-btn {
		margin-right: 2.3rem;
	}

	@media (max-width: variables.$vp-1024) {
		&__like {
			width: 25px;
			height: 25px;
		}
	}

	@media (max-width: variables.$vp-768) {
		&__btns {
			display: none;
		}
	}
}
